p
{
    font-size: 30px;
    text-align: center;
}

div
{
    margin-top: 20px;
}

.mb-4
{
    height: 200px;
    width: 100%;
    margin-top: auto;
    text-align: center;
    vertical-align: middle;
}