<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
   <script src="/asserts/js/bootstrap.js"></script>
<link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">

<!--    <link th:href="@{../resources/asserts/css/logout.css}" rel="stylesheet">-->
    <link rel="stylesheet" href="/asserts/css/bootstrap.css">
    <link rel="stylesheet" href="/asserts/css/logout.css">
</head>
<body>
<img name="logo" class="mb-4" src="/asserts/img/newlogo.png" alt="">
<div class="alert alert-warning">
        <p>You have logged out</p>
</div>
</body>
</html>